<h1> Edit Student Form </h1>
 <%= form_for @student do |f| %><br>
    <%= f.label 'Student First Name' %><br>
    <%= f.text_field :first_name %><br>
    <%= f.label :student_last_name %><br>
    <%= f.text_field :last_name %><br>
    <%= f.submit %>
    <%end%>